extends layout

block content
  div.container
    div.post-wrapper
      h3.post_title Users
      each val, index in users
        .user_item
            h3 #{val.username}
            p Email | #{val.email}
            if(!val.enabled)
                a.enable(href="/user/" + val.id + "/toggle_enabled") Enable User
            else
                a.disable(href="/user/" + val.id + "/toggle_enabled") Disable User
        