extends layout

block content
  div.container
    form.submit_form(method='post' action='/submit')
        h3 Submit a post
        input.titlebox(name="title" type='text' placeholder='Title')
        textarea.textbox(rows="50" cols="80" name="body" type='textarea' placeholder='Body')
        div.float_right
            button.submit(type='submit') Post
    hr
    hr
    span BTC: 1AcRqHFQK28dcCjdycjPrKQM9euuEbXJnB
