extends layout

block content
  div.container
    div.post-wrapper
      h3.post_title All Posts
      each val, index in posts
          div.post_item
            img.ico(src='https://via.placeholder.com/32.png')
            a(href='/post/' + val._id)=val.title
