extends layout

block content
  div.container
    form(method='get' action='/')
      input.searchbox(name="q" type='text' value=search placeholder='Search Posts')
      button(type='submit') Search All Posts
    hr
    ol
      each val, index in posts
        li
          a(href='/post/' + val._id)=val.title
    hr
    a(href="/submit") Submit A Post
    //span BTC: 1AcRqHFQK28dcCjdycjPrKQM9euuEbXJnB
