extends layout

block content
  div.container
    div.post-wrapper
      h3.post_title All Posts
      each val, index in posts
        a(href='/post/' + val._id)
          div.post_item
            p=val.title
            p.text=val.body
            img.ico( width='32px' src='https://i.imgur.com/5UWH4iv.png')

