doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="description" content="My Personal Website")
    meta(name="keywords" content="Dylan Dunn, Blog")
    meta(name="author" content="Dylan Dunn")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
  body
    .navbar
      .navbar-right
          a.nav(href="/") Home
          a.nav(href="/submit") Submit
          a.nav(href="/login") Login
          a.nav(href="/account") 
            img.ico( width='32px' src='https://i.imgur.com/5UWH4iv.png')
    block content

    div.footer
        span BTC: 1AcRqHFQK28dcCjdycjPrKQM9euuEbXJnB
