doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="description" content="My Personal Website")
    meta(name="keywords" content="Dylan Dunn, Blog")
    meta(name="author" content="Dylan Dunn")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
  body
    .navbar
      if !loggedin
        .navbar-left
            a.nav(href="/") DYLAN DUNN
        .navbar-right
            a.nav(href="/") <i class="fas fa-list-ul"></i>
            a.nav(href="/submit") <i class="fas fa-edit"></i>
            a.nav(href="/account") <i class="fas fa-user"></i>
      else
        .navbar-left
            a.nav(href="/") DYLAN DUNN
        .navbar-right
            a.nav(href="/") <i class="fas fa-list-ul"></i>
            a.nav(href="/login") Login
            a.solidbtn(href="/signup") Signup
    if errmsg
          .error_bar
            p=errmsg
    block content

    div.footer
        span BTC: 1AcRqHFQK28dcCjdycjPrKQM9euuEbXJnB