extends layout

block content
    div.container
        form.small_submit_form(method='post' action='/user/' + username + '/posts')
            .form_title
                h3 Profile
            .input-wrapper
                img.profilepic(src='https://via.placeholder.com/128x128')
                p.username #{username}
                p.about This text is ab written by the u is aboutls us about the user and is written by the user. This text is about the user, it tells us about the user and is written by the user. This text is about the user, it tells us about the user and is written by the user.
                div.float_right
                    button.view(type='submit') View #{username}'s Posts

