@import url('https://fonts.googleapis.com/css?family=Roboto');

@media only screen and (min-width: 750px) {
  html {
    height:100%;
    padding:0px;
  }
  body {
    padding: 0px;
    margin:0px;
    font: 18px "Roboto", Helvetica, Arial, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background: url(https://i.imgur.com/joWfbpN.png) no-repeat center center fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow-y: scroll;
    height:100%;
  }
  .container {
    margin: auto;
    margin-top:0px;
    max-width:800px;
    padding: 0px;
    padding-top:100px;
    padding-bottom: 100px;
  }

  .post-wrapper {
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding-bottom:5px;
  }

  .post-wrapper > p {
    margin: 10px;
  }

  .post-wrapper > i {
    font-size:12px;
    color:grey;
    margin: 10px;
  }

  .back {
    color:white;
    background-color: #02213e;
    padding:4px;
    text-decoration: none;
  }
  .post_link {
    color: #FF0000;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
  }

  .user_item {
    padding:10px;
  }

  textarea.about {
    height:100px;
    padding-left:6px;
    resize: vertical;
    margin-bottom:6px;
    width:220px;
    overflow: auto;
  }

  a.authorlink {
    font-weight:800;
    color:blue;
    margin:6px;
  }

  .post_item {
    margin:10px;
    padding:10px;
    background-color: white;
    color:black;
    border-bottom: 1px solid lightgray;
    text-align: left;
    position: relative;
  }

  .post_item > p.text::before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 150px, white);
  }

  .post_item > p {
    margin-top:0px;
    margin-bottom:0px;
  }

  .post_item > i {
    margin-top:10px;
    font-size:12px;
  }

  .post_item > p.text {
    color:grey;
    word-wrap: wrap;
    overflow: hidden;
    height: 150px;
    margin-left:320px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
  }

  .post_item > .float-img-right {
    float:left;
    margin-right:10px;
  }

  img.post_img {
    padding:10px;
    margin:auto;
    float:right;
  }

  a {
    text-decoration: none;
    color:black;
  }

  h3.post_title {
    color:white;
    padding:10px;
    background-color: #044480;
  }

  .post-text-wrapper {
    padding:10px;
  }

  .a {
    color:lightblue;
  }

  h2.post_title {
    margin:10px;
    margin-top:40px;
  }

  p.post_text {
    font-weight: 500;
  }

  .socialbar {
    position: relative;
    left:0px;
    bottom:0px;
    text-align: left;
    padding:10px;
    width:218px;
    background-color: lightgray;
    margin:10px;
  }

  .a2a_kit {
    margin-left:10px;
  }

  .toolbar {
    margin:10px;
    padding:10px;
    background-color: lightgray;
    text-align: right;
  }

  .toolbar > a {
    padding-right:10px;
    color:black;
  }

  .toolbar > a:hover{
    color:white;
  }
  
  form {
    padding: 0px;
    width: 100%;
    text-align: right;
  }

  form.submit_form {
    text-align: left;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  
  form.submit_form > .input-wrapper {
    background-color: white;
    padding:10px;
    width: 100%;
  }

  .small_submit_form {
    text-align: left;
    width:400px;
    margin:auto;
  }

  .small_submit_form > .input-wrapper {
    background-color: white;
    padding:10px;
    width: 400px;
    margin:auto;
    font: 24px "Roboto", Helvetica, Arial, sans-serif;
  }

  .small_submit_form > .input-wrapper > label{
    float: left;
    padding:10px;
  }
  .small_submit_form > .input-wrapper > input.titlebox{
    padding:10px;
    width:300px;
    margin-bottom:20px;
  }

  h5 {
    font-weight: 500;
  }
  
  .centerad {
    margin:auto;
    text-align:center;
    padding-top:20px;
  }
  
  .searchbox {
    box-sizing:border-box;
    margin:0px;
    width:66%;
    height: 100%;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding:6px;
  }

  .form_title {
    display: block;
    margin:0px;
    height:30px;
    padding:10px;
    width:100%;
    background-color: #FFAAAA;
    color:white;
  }
  .form_title > h3 {
    margin:0px;
  }

  .titlebox {
    display:block;
    width:50%;
    margin-bottom: 10px;
    font: 18px "Lucida Granda", Helvetica, Arial, sans-serif;
    padding:6px;
    border:none;
    border-bottom:3px solid grey;
  }

  .titlebox:focus {
    border-bottom:3px solid #044480;
    outline: 0;
  }

  .textbox {
    resize:none;
    display:block;
    width:786px;
    margin:0px;
    margin-bottom: 10px;
    font: 18px "Lucida Granda", Helvetica, Arial, sans-serif;
    padding:6px;
    border:none;
    border-bottom:3px solid grey;
  }

  img.profilepic {
    float:left;
    margin-right:10px;
    margin-bottom:10px;
  }

  p.username {
    margin:0px;
    margin-bottom:10px;
    font-weight: 700;
  }

  p.about {
    margin:0px;
    font-size:14px;
    font-weight: 600;
    color:#555;
    padding-bottom:10px;
  }

  .textbox:focus{
    border-bottom:3px solid #044480;
    outline: 0;
  }
  
  button {
    background-color: #02213e;
    color: white;
    text-decoration: none;
    border: none;
    width: 33%;
    padding:8px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 600;
  }
  button:hover {
    background-color: #044480;
    cursor: pointer;
  }

  button.submit {
    display: inline;
  }

  button.view {
    width:100%;
  }

  .float_right {
    text-align: right;
  }
  
  li {
    margin:20px;
  }
  
  ol {
    padding:0px;
  }

  div.navbar {
    z-index:100;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
    width:100%;
    padding-right:0px;
    text-align: right;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  div.navbar > div.navbar-left {
    padding:10px;
    margin-right: 100px;
    float:left
  }
  div.navbar > div.navbar-left > a {
    color:black;
  }

  div.navbar > div.navbar-right {
    display: inline;
    margin-right: 100px;
  }

  div.navbar > div.navbar-right > a.nav {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding:10px;
    margin-left:10px;
    text-align: center;
  }

  div.navbar > div.navbar-right > a.solidbtn {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding:10px;
    margin-left:10px;
    text-align: center;
    background-color: lightblue;
    border: 1px solid lightblue;
  }

  .error_bar {
    background-color: red;
    padding:2px;
    padding-top:50px;
    width: 100%;
    color:white;
    text-align: center;
  }

  .footer {
    background-color: rgba(256, 256, 256, 0.8);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: fixed;
    right:0px;
    bottom:0px;
    width:100%;
    margin:0px;
    text-align: center;
  }
  .footer > span {
    padding:16px;
  }

  input.url {
    font-size: 12px;
    width:100px;
    padding:6px;
    margin-bottom:10px;
  }
}

@media only screen and (max-width: 750px) {
}

